@import "colors";

*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #505050;

}

#app{

  width: 300px;
  height: 250px;
  border: 1px solid black;
  background-color: $blue_dark_1;
  //background-color: white;
  position: relative;
  //overflow: hidden;

  #borderLimit{
    border:1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
  }

  .c-textFrame1{
    position: relative;
    z-index: 1;
    padding:15px;
    display: flex;
    flex-direction: column;
    height: 100%;


    img{
      &:not(:first-child){
        margin-top: 13px;
      }

      &:last-child{
        margin-top: auto;
      }
    }
  }

  .c-introBorderItem {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    transform: scale(0);

    &.fuchsia, &.orange{
      z-index: 2;
    }

    .introBorderItem {

      border-width: 50px;
      border-style: solid;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      &.fuchsia {
        border-color: $fuchsia_medium_1;

      }

      &.orange {
        border-color: $orange_medium_1;
        z-index: 2;

      }

      &.white {
        border-color: white;
        background-color: white;

      }
    }

  }

  #card{
    position: absolute;
    right : -20px;
    bottom: -168px;
    z-index: 4;

  }

  #middleCircleOrange{

    width: 225px;
    height: 225px;
    background-color: $orange_medium_1;
    position: absolute;
    z-index: 3;
    right: -35px;
    bottom: -130px;
    border-radius: 100%;
    border: 8px solid $fuchsia_medium_1;

    .middleCircleItem{
      width: 90%;
      height: 90%;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left:0;
      right: 0;
      bottom: 0;
      margin: auto;

      &.white{
        background-color: white;
        z-index: 6;
      }

      &.grey{
        width: 10px;
        height: 10px;
        background-color: $blue_dark_1;
      }
    }


  }

  .c-circlePulses{
    position: absolute;
    top: 13px;
    left: 28px;
    z-index: 3;
    .circlePulseItem{
      position: absolute;


      width: 200px;
      height: 200px;
      border: 4px solid $fuchsia_medium_1;
      border-radius: 100%;

    }
  }

  .c-realLifeObjects{
    position: absolute;
    top:100px;
    left:120px;
    z-index: 3;
    height: 100px;
    width: 100px;


    .realLifeObjectItem{
      position: absolute;

      &.cup{
        top:-35px;
        left:40px;

      }

      &.yoga{
        top:0px;
        left:-25px;
      }

      &.sushi{
        top:-10px;
        left:-7px;
      }

    }
  }

  .c-textFrame2{
    position: absolute;
    top:0;
    left:0;
    padding: 19px;

    img{
      margin-top: 10px;
    }

  }

  .c-textFrame3{
    position: absolute;
    top:0;
    left:0;
    padding: 19px;

    >img{
      margin-top: 10px;
    }
  }

}
